<div class="timeline-item" date-is="<%= Date.to_iso8601(@date) %>">
<%=
@events
|> Enum.sort(fn e1, e2 ->
  case DateTime.compare(e1.timestamp, e2.timestamp) do
    :lt -> false
    :gt -> true
    _ -> true
  end
end)
|> Enum.map(&render_event/1)
%>
</div>