<tr>
    <td><%= content_tag :i, DateTime.to_iso8601(@event.timestamp) %></td>
    <td><%= content_tag :code, @event.type %></td>
    <td><%= content_tag :a, "#{@event.track_artist} - #{@event.track_name}", href: @event.track_uri %></td>
    <td><%= content_tag :p, @event.user %></td>

    <td>
    <span><%= link "Add", to: Routes.log_path(@conn, :add_track, @event.log_id, %{"track" => %{"uri" => @event.track_uri}}), method: :post, data: [confirm: "Are you sure you want to add this song to the playlist?"] %></span>
    </td>
</tr>