<tr>
    <td><%= content_tag :i, DateTime.to_iso8601(@event.timestamp) %></td>
    <td><%= content_tag :code, @event.type %></td>
    <td><%= content_tag :a, "#{@event.track_artist} - #{@event.track_name}", href: @event.track_uri %></td>
    <td><%= content_tag :p, @event.user %></td>

    <td>
    <span><%= link "Add", to: "#", method: :delete, data: [confirm: "Are you sure?"] %></span>
    </td>
</tr>